= NBNL Code List

[cols="h,3",width=65%]
|===
| Name
| Value

|Version
|{{ version }}

|Release date
|{{ release_date }}

|Contact
|{{ contact_point }}
|===

The _NBNL Code List_ is a predefined, controlled set of permissible values used
to ensure consistency and interoperability in data exchange, validation, and
interpretation. Each value in the list provides a clear definition and may be
associated with metadata such as descriptions, status, or authoritative source.

This list is maintained by _Team Semantiek_ and is considered authoritative
within the scope of the code list.

{%- set objects_by_type = {} %}
{%- for obj in identified_objects %}
  {%- set _ = objects_by_type.setdefault(obj.object_type, []).append(obj) %}
{%- endfor %}

{%- for object_type, objects in objects_by_type.items() %}

== {{ object_type }}

[cols="6,1,3,3",width=100%]
|===
|mRID |Name |Type |Issuer
{%- for obj in objects %}
{%- set n_object_type = obj.names[0].name_type.object_type %}
{%- set n_name = obj.names[0].name_type.name %}
{%- set nt_object_type = obj.names[0].name_type.name_type_authority.object_type %}
{%- set nt_name = obj.names[0].name_type.name_type_authority.name %}

 |{{ obj.m_rid }}
 |{{ obj.names[0].name }}
a|{% if n_object_type %}{{ n_object_type }}[definition]{% else %}{{ n_name }}{% endif %}
a|{% if nt_object_type %}{{ nt_object_type }}[definition]{% else %}{{ nt_name }}{% endif %}
{%- endfor %}
|===
{%- endfor %}
